@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body {
    background: fixed url(imagens/fundo-madeira.jpg) top center no-repeat ;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 275px;
    height: 554px;
    background: url(imagens/frame-iphone.png) no-repeat;
    transform: translate(-50%, -50%);
}